@use 'sass:map';
@use './dsmixins' as *;


$color-gray-one: #666666;
$color-gray-two: #B3B3B3;
$color-gray-three: #D8D8D8;

$color-blue-one: #0079FF;

$accent-modal: #b3ff00;
$modal-bg: rgb(230, 235, 219);
